[submodule "hass-summary"]
	path = hass-summary
	url = git@github.com:m-d-johnson/hass-summary.git
[submodule "mapdata"]
	path = mapdata
	url = git@github.com:m-d-johnson/mapdata.git
[submodule "gojuice"]
	path = gojuice
	url = git@github.com:m-d-johnson/gojuice.git

